.roundbutton {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}
.roundbutton p:active {
    background: #f5f5f5;
}
.element {
    display: inline-block;
    margin-right: -4px;
    position: relative;
}
.element:before {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #fff;
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    width: 100%;
    height: 1px;
    z-index: -1;
}
.roundbutton p {
    background-color: #f7f7f7;
    background-image: linear-gradient(#f7f7f7, #e7e7e7);
    /*background-image: linear-gradient(#62d714, #3c9d41);*/
    border-radius: 50%;
    box-shadow: 0 3px 8px #aaa, inset 0 2px 3px #fff;
    color: #878787;
    display: block;
    font-family: 'Poiret One', cursive;
    font-size: 20px;
    line-height: 44px;
    text-decoration: none;
    margin: 25px;
    position: relative;
    width: 44px;
    height: 44px;
}
.roundbutton p:before {
    background: #fff;
    border-top: 2px solid #ddd;
    border-radius: 50%;
    box-shadow: inset 0 8px 48px #ddd;
    content: '';
    display: block;
    position: absolute;
    left: -10px;
    right: -10px;
    top: -10px;
    bottom: -10px;
    z-index: -1;
}

.roundbutton p:hover {
    cursor: crosshair;
    color: hsl(30, 70%, 50%);
}
/*============================Trenner====================================*/
.textbutton {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}
.textbutton p:active {
    background: #f5f5f5;
}
.textbutton p {
    display: inline-block;
    margin-right: -4px;
    position: relative;
}
.textbutton p:before {
    content: '';
    position: absolute;
    top: 50%;
    width: 100%;
    height: 1px;
    z-index: -1;
}
.textbutton p {
    background-color: #f7f7f7;
    background-image: linear-gradient(#f7f7f7, #e7e7e7);
    border-radius: 20px;
    box-shadow: 0 3px 8px #aaa, inset 0 2px 3px #fff;
    color: #878787;
    display: block;
    font-family: 'Poiret One', cursive;
    font-size: 15px;
    line-height: 34px;
    text-decoration: none;
    margin: 15px auto 15px auto;
    position: relative;
    width: 250px;
}
/*.textbutton p:before {*/
/*    background: #fff;*/
/*    border-top: 2px solid #ddd;*/
/*    border-radius: 15%;*/
/*    box-shadow: inset 0 8px 48px #ddd;*/
/*    content: '';*/
/*    !*display: block;*!*/
/*    position: absolute;*/
/*    left: -10px;*/
/*    right: -10px;*/
/*    top: -10px;*/
/*    bottom: -10px;*/
/*    z-index: -1;*/
/*}*/

.textbutton p:hover {
    cursor: pointer;
    color: hsl(30, 70%, 50%);
}

/*ROT*/
/*background-image: linear-gradient(#d71414, #9d3c3c);*/

/*Grün*/
/*background-image: linear-gradient(#62d714, #3c9d41);*/

