:root {
    --grey: #494949;
    --white: #ffffff;
    --black: #000000;
    --darkgreen: #347a2c;
    --darkred: #bd4545;
    --lightblue: #22bdff;
}

body {
    padding: 0;
    margin: 0;
}
article {
    margin: 15px;
}
section {
    background-color: var(--grey);
    color: var(--white);
    margin: 10px;
    border-radius: 10px;
    padding: 10px;
}
header {
    background-color: var(--grey);
    color: var(--white);
    display: flex;
    align-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0;
    padding: 10px;
}
a, a:visited{
    color: var(--lightblue);
    font-size: 24px;
}
h2 {
    margin: 0;
}
.form-column {
    background-color: var(--grey);
    color: var(--white);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 10px;
    padding: 10px;
}
.reset {
    background-color: var(--darkred);
}
.submit {
    background-color: var(--darkgreen);
}
button {
    margin: 10px;
    padding: 5px 10px;
    border-radius: 15px;
}
.border-1 {
    padding: 10px;
    border: solid 2px var(--grey);
}
.right {
    justify-content: end;
    display: flex;
}
.half {
    width: 50vw;
}
.center {
    display: flex;
    justify-content: center;
}
p {
    margin: 5px;
}





























/* Pfeile bei den Input Buttons von numbers entfernen */
