:root {
    --grey: #494949;
    --white: #FFF;
    --nearblack: #111;
    --correctAnswer: #347a2c;
    --lightblue: #22bdff;
    --errorRed: #f44336;
    --hintBoxBG: #f4c836;
}

body {
    background: var(--lightblue);
}


/*Styling Navbar*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: var(--grey);
    border-radius: 25px;
}

.userInputButton{
    display: flex;
}

.menu {
    float: left;
}
.time{
    float: right;
    color: var(--white);
}

li a {
    display: block;
    color: var(--white);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: var(--nearblack);
}

.errorBox, .msgBoxHint{
    padding: 20px;
    color: var(--white);
}

.errorBoxBG {
    background-color: var(--errorRed);
}
.msgBoxHintBG{
    background-color: var(--hintBoxBG);
}
.msgBoxAnswerCorrect{
    background-color: var(--correctAnswer);
}

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: var(--nearblack);
}

.ende{
    text-align: right;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}